ul.amJL_list {
    color: #1e366a;
    border-top: solid #1e366a 1px;/*上のボーダー*/
    border-bottom: solid #1e366a 1px;/*下のボーダー*/
    padding: 0.5em 0 0.5em 1.5em;
}

ul.amJL_list li {
    line-height: 1.5;
    padding: 0.5em 0;
}