.amJL_details_css{
  max-width:80%;
  height:auto;
}

/* header */
.amJL_header {
  padding: 2px 8px;
  margin: 25px 0 20px 0 !important;
}

h1.amJL_header {
  font-size: 30px;
  font-weight: bold;  
}

h2.amJL_header {
  border-left: 5px solid navy;
  font-size: 25px;
  font-weight: bold;
}

h3.amJL_header {
  font-size: 20px;
}